@require "../../../../assets/stylus/mugloar.styl"
@require "../../../../assets/stylus/menu/v-menu.styl"
@require "../../../../assets/stylus/layout/wrapper.styl"
@require "../../../../assets/stylus/feedback/feedback.styl"

.wrapper
    font-size 0
    border 1px solid cShade3
    border-radius(8px)

.art-wrapper
    box-shadow 0 0 10px 5px cShade1

.art
    width 100%
    display block

.controls-container
    @extend .wrapper.-wrapper_block
    margin 20px
    padding 20px
    text-align center
    vertical-align top
    border 2px solid cShade3
    border-radius(8px)

.controls
    @extends .v-menu
    font-size 14px
    line-height 150%

.block
    display inline-block
    font-size 14px
    padding 0
    width 50%
    vertical-align top

    &.-block_centered
        display block
        margin 0 auto

    &.-block_expanded
        display block
        width 100%

.input-container
    width 100%
    height auto
    font-family ffPressStartK
    font-size 14px
    color cWhite3
    padding 0 0 40px 0
