// Shades of grey: from black to white
cShade1 = #1a1a1a
cShade2 = #343434
cShade3 = #4d4d4d
cShade4 = #666666
cShade5 = #7f7f7f
cShade6 = #989898
cShade7 = #b1b1b1
cShade8 = #cacaca
cShade9 = #67615c
cShade10 = #adafba
cShade11 = #272727

// Colors: White splash
cWhite1 = #fafafa
cWhite2 = #c8c8c8
cWhite3 = #969696
cWhite4 = #7d7d7d
cWhite5 = #f9f8d5
cWhite6 = #e0e0e0

// Golden hue
cGold1 = #ffd54b
cGold2 = #FFCA6F
cGold3 = #d8ab25
cGold4 = #6e6432
cGold5 = #8e7022
cGold6 = #f3b80b

// Orange ripeness
cOrange1 = #ff9715
cOrange2 = #d09a35
cOrange3 = #e6944c
cOrange4 = #805a13
cOrange5 = #bf7000
cOrange6 = #ea7711

// Reddish
cRed1 = #750e0e
cRed2 = #a94442
cRed3 = #e43213
cRed4 = #732b1d
cRed5 = #311802
cRed6 = #945e5e
cRed7 = #cc2f2f
cRed8 = #ff3e10

// Brownies
cBrown1 = #DEB887
cBrown2 = #f3c287
cBrown3 = #8B4513

// Pinky
cPink1 = #ff22d7

// Green
cGreen1 = #327d32
cGreen2 = #51bb34

// Blues
cBlue1 = #3431ab
cBlue2 = #e8f0ff
cBlue3 = #2044bd
cBlue4 = #18113a
cBlue5 = #9396b3
cBlue6 = #18113a
cBlue7 = #18b5ff

// Violets
cViolet1 = #642db1
cViolet2 = #50389a
cViolet3 = #987db3
