// Font families
ffBlackwoodCastle = blackwood_castle
ffSortie = sortie
ffArcadeClassic = arcade_classic
ffPressStartK = press_start_k

// Font size
fsDefault = 8px

// Header & titles
fsTitle1 = (fsDefault * 8)
fsTitle2 = (fsDefault * 5)
fsTitle3 = (fsDefault * 4)
fsTitle4 = (fsDefault * 3)
fsTitle5 = (fsDefault * 2 - 2)
fsTitle6 = (fsDefault * 2 - 4)

// Form "Preview"


// Form "Interactive"
fsForm = (fsDefault * 2 - 2)


// Button
fsButton = 14px
