// Global vars.

// Colors
cMainBg = cShade4

// General box shadow
bxshDefault = 0px 0px 24px 2px rgba(59, 59, 59, 0.4)

// Font colors
fcMain = cShade1
fcGameTitle = cWhite1
fcCredits = rgba(cGold1, 0.7)
fcV-MenuHeader = cWhite1
fcV-MenuLabel = cWhite2
fcV-MenuLabelHover = cWhite1

// Button
fcButton = cBlue1
cButtonBg = cShade6
cButtonDisabledBg = cShade6

// Dimensions
wLayoutMain = 1200px
wV-Menu = 260px

// Background colors
cbgGame = rgba(cShade3, 0.8)
