@import "../../../../assets/stylus/mugloar.styl"
@import "../../../../assets/stylus/menu/v-menu.styl"
@import "../../../../assets/stylus/misc/legend.styl"

.title
    padding 0
    margin 50px 0
    text-align center

.sandbox
    display block
    margin 0 auto
    width 90%
    height 500px
    position relative

    .icon
        height 40px
        width 40px
        color cWhite3
        position absolute
        z-index 1

        &.-icon_skull
            bottom 65%
            left 45%
            height 100px
            width 100px
            z-index 2

.controls-container
    margin 40px 0
    padding 20px

.controls
    @extends .v-menu
    line-height 150%
