@require "../../../../assets/stylus/mugloar.styl"
@require "../../../../assets/stylus/layout/wrapper.styl"

.wrapper
    &.-wrapper_block
        background radial-gradient(circle at top left, rgba(cRed6, 0.55) 20%, rgba(cShade3, 0.9))

.title
    color cRed1

.icon
    position absolute
    height 120px
    width 120px
    top 10px
    right 10px
    z-index 0

.slider-container
    display inline-block
    width 200px
    text-shadow 4px 4px 2px cShade2
