.legend
    color cWhite2
    font-size 18px

    &__line
        padding 5px
        text-align center

        &__text
            &.-text_emphasized
                color cGold3

        &__icon
            position relative

            .icon
                left -40px
                top -10px
                position absolute
                height 30px
                width 30px
