.button-circle
    width 60px
    height 60px
    border 2px solid cShade3
    box-shadow 0px 0px 2px 2px cShade2, inset 0 0 10px cWhite1, inset 0 0 20px cShade1
    //background radial-gradient(circle at top left, rgba(cShade1, 0.8) 20%, rgba(cShade3, 0.3))

    color cShade1
    background-color transparent

    &__icon
        color cShade1
        padding 15px
