@require "../../../../../assets/stylus/mugloar.styl"

.background-layer
    background rgba(cShade1, 0.75)
    position fixed
    height 100%
    width 100%
    top 0
    left 0
    z-index 3

.container
    position relative
    height 100%
    width 100%

.progress
    position fixed
    top 40%
    left 0
    width 100%
    height auto

    &__icon
        display block
        margin 0 auto
        width 100%
