@require "mixins/*"
@require "fonts/*"
@require "vars/*"
@require "base/*"
@require "themes/default.styl"  // Add a custom theme, that modifies the initial Angular2 Materials theme.

// Include the bare minimum styling required for the Mugloar App component. Other stylings should be imported when necessary.

hConsole = 250px
wStatusBlock = ((wLayoutMain / 2) - (wLayoutMain / 4))
wControlsContent = (wStatusBlock + (wLayoutMain / 4))
