@require "../../../../../assets/stylus/mugloar.styl"
@require "../../../../../assets/stylus/form/form.styl"
@require "../../../../../assets/stylus/button/button.styl"

.dragon-form
    @extend .form

    &__hint
        margin 0 -10px

    &__label
        width 120px

    &__control
        width 325px

    &__control-wrap
        background-color cWhite2

    &__command
        text-align center
